.assignment_page{
    margin: 2vw auto 0 auto;
    min-width: 400px;
    max-width: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}