.countries_list{
    border: 1px solid black;
    width: 100%;
}

.countries_list_empty{
    color: gray;
    animation: opacityAnim .7s infinite alternate;
}

/*Addresses*/
.countries_addresses{
    text-align: center;
}

@keyframes opacityAnim{
    from{
        color: rgb(128, 128, 128);
    }
    to{
        color: rgb(214, 214, 214);
    }
}
/*AddressesTable*/