.countries_list{
    border: 1px solid black;
    width: 100%;

    /* display: flex; */
}

.countries_list_empty{
    color: gray;
    animation: opacityAnim .7s infinite alternate;
}

/*Addresses*/
.countries_addresses{
    text-align: center;
}

@keyframes opacityAnim{
    from{
        color: rgb(128, 128, 128);
    }
    to{
        color: rgb(214, 214, 214);
    }
}
/*CountriesTable*/
.countries_table{

}

.countries_table_columns, .countries_table_row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.countries_table_column{
    font-weight: bold;
}

.countries_table_row{
    padding: 3px 0;
}
